@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700;800;1000&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0f0f1a;
    --foreground: #ffffff;

    --card: #1a1a2e;
    --card-foreground: #e5e5e5;

    --popover: #1a1a2e;
    --popover-foreground: #e5e5e5;

    --primary: #0f0f1a;
    --primary-light: #111228;
    /* New primary background */
    --primary-foreground: #ffffff;

    --secondary: #c084fc;
    /* Bright purple for accents */
    --secondary-foreground: #ffffff;

    --muted: #2e2e3e;
    --muted-foreground: #a1a1aa;

    --destructive: #f87171;
    --destructive-foreground: #fff1f2;

    --success: #22c55e;
    --success-foreground: #e6fef1;

    --warning: #facc15;
    --warning-foreground: #fef9c3;

    --info: #38bdf8;
    --info-foreground: #e0f2fe;

    --border: #3f3f46;
    --input: #1f1f2e;
    --ring: #c084fc;
    --icon: #c084fc;

    --radius: 0.6rem;
  }

  /* Dark mode  */
  .dark {
    --background: #0f0f1a;
    --foreground: #ffffff;
    --card: #1f1f2e;
    --card-foreground: #f1f5f9;

    --popover: #1f1f2e;
    --popover-foreground: #f8fafc;

    --primary: #0f0f1a;
    --primary-light: #111228;
    --primary-foreground: #ffffff;

    --secondary: #c084fc;
    --secondary-foreground: #ffffff;

    --muted: #2e2e3e;
    --muted-foreground: #a1a1aa;

    --destructive: #f87171;
    --destructive-foreground: #fff1f2;

    --success: #22c55e;
    --success-foreground: #e6fef1;

    --warning: #facc15;
    --warning-foreground: #fef9c3;

    --info: #38bdf8;
    --info-foreground: #e0f2fe;

    --light-green: #a7f3d0;

    --border: #3f3f46;
    --input: #2a2a3b;
    --ring: #c084fc;
    --icon: #c084fc;

    --radius: 0.6rem;
  }

  *,
  *::before,
  *::after {
    margin: 0;
    box-sizing: border-box;
  }

  body {
    @apply font-nunito tracking-[0.02em] bg-primary text-foreground;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--muted);
  }

  .gcl-form-control:focus {
    border: 2px solid var(--ring) !important;
    outline: none !important;
    box-shadow: 0 0 0 0.15rem rgba(192, 132, 252, 0.25) !important;
  }
}

.bg-grid-pattern {
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 40px 40px;
}